/*设置通用样式*/
  *{
    margin: 0;
    padding: 0;
}
.left{
    float: left;
    width: 200px;
    height:400px ;
    border: 1px solid gray;
}
.box{
    width: 100%;
    height: 200px;

}
ul{
    margin:20px 0 0 8px ;
}
ul li{
    margin-bottom: 10px;
}
h3{
   margin-left: 40px;
}
.box-content{
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    animation:animations 2s infinite;
    -webkit-animation:animations 2s infinite;
    transform-origin: 100px 100px 0;
    /*perspective: 1000px;*/
}
/*边框阴影*/
.title{
    margin: 50px auto;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .6);
    border-radius: 3px;
}
/*文字特效*/
h2{
    text-align: center;
    line-height: 40px;
    text-shadow: 1px 1px 0.5px red;
}
/*文字省略*/
.text{
    margin: 85px auto;
    width:270px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    border: 1px solid #aaa;
}
.box-content>div{
    width: 200px;
    height: 200px;
    font-size: 75px;
    line-height:200px;
    text-align: center;
    opacity: 0.5;}
/*第一个面*/
.one{
    position: absolute;
    transform: translatez(-100px);
    -webkit-transform: translatez(-100px);
    -moz-transform:translatez(-100px);
    -ms-transform:translatez(-100px) ;
    -o-transform:translatez(-100px) ;
    background-color: aqua;

}
/*第二个面*/
.two{
    position: absolute;

    transform: translatex(100px) rotatey(90deg) ;
    -webkit-transform: translatex(100px) rotatey(90deg) ;
    -moz-transform:translatex(100px) rotatey(90deg) ;
    -ms-transform:translatex(100px) rotatey(90deg) ;
    -o-transform:translatex(100px) rotatey(90deg) ;
    background-color: darkmagenta;
}
/*第三个面*/
.three{
    position: absolute;

    transform: translatex(-100px) rotatey(-90deg);
    -webkit-transform: translatex(-100px) rotatey(-90deg);
    -moz-transform:translatex(-100px) rotatey(-90deg);
    -ms-transform:translatex(-100px) rotatey(-90deg);
    -o-transform:translatex(-100px) rotatey(-90deg);
    background-color: red;
}
/*第四个面*/
.four{
    position: absolute;

    transform: translatey(100px) rotatey(90deg);
    -webkit-transform: translatey(100px) rotatex(90deg);
    -moz-transform:translatey(100px) rotatex(90deg);
    -ms-transform:translatey(100px) rotatex(90deg);
    -o-transform:translatey(100px) rotatex(90deg);
    background-color: blue;
}
/*第五个面*/
.five{
    position: absolute;

    transform: translatey(-100px) rotatex(-90deg);
    -webkit-transform: translatey(-100px) rotatex(-90deg);
    -moz-transform:translatey(-100px) rotatex(-90deg);
    -ms-transform:translatey(-100px) rotatex(-90deg);
    -o-transform:translatey(-100px) rotatex(-90deg);
    background-color: yellow;
}
/*地六个面*/
.six{
    position: absolute;

    transform: translatez(100px);
    -webkit-transform: translatez(100px);
    -moz-transform:translatez(100px);
    -ms-transform:translatez(100px) ;
    -o-transform:translatez(100px) ;
    background-color: greenyellow;
}
/*动画效果*/
@keyframes animations{
   0%{transform: rotatex(0deg) ;}
   25%{transform:rotatex(90deg ) rotatey(0deg)  ;}
   50%{transform:rotatex(0deg)  rotatey(90deg)  ;}
   75%{transform:rotatex(-90deg)  rotatey(0deg) ;}
    100%{transform:rotatex(0deg) rotatey(90deg) ;}
 }
@-webkit-keyframes animations {
     0%{transform: rotatex(0deg) ;}
     25%{transform:rotatex(90deg ) rotatey(0deg)  ;}
     50%{transform:rotatex(0deg)  rotatey(90deg)  ;}
     75%{transform:rotatex(-90deg)  rotatey(0deg) ;}
     100%{transform:rotatex(0deg) rotatey(90deg) ;}
  }
@-o-keyframes animations {
     0%{transform: rotatex(0deg) ;}
     25%{transform:rotatex(90deg ) rotatey(0deg)  ;}
     50%{transform:rotatex(0deg)  rotatey(90deg)  ;}
     75%{transform:rotatex(-90deg)  rotatey(0deg) ;}
     100%{transform:rotatex(0deg) rotatey(90deg) ;}
 }
@-moz-keyframes animations {
       0%{transform: rotatex(0deg) ;}
       25%{transform:rotatex(90deg ) rotatey(0deg)  ;}
       50%{transform:rotatex(0deg)  rotatey(90deg)  ;}
       75%{transform:rotatex(-90deg)  rotatey(0deg) ;}
       100%{transform:rotatex(0deg) rotatey(90deg) ;}
   }
@-ms-keyframes animations {
       0%{transform: rotatex(0deg) ;}
       25%{transform:rotatex(90deg ) rotatey(0deg)  ;}
       50%{transform:rotatex(0deg)  rotatey(90deg)  ;}
       75%{transform:rotatex(-90deg)  rotatey(0deg) ;}
       100%{transform:rotatex(0deg) rotatey(90deg) ;}
   }





